<div class="user-signup">

  <div class="sub-head">
    <h2>Sign Up</h1>
  </div>

  <%= form_for(@user, url: signup_path) do |f| %>
    <%= render 'shared/error_messages' %>
    <dl class="form-group">

      <dl>
        <dd><%= f.text_field :username, class: "form-control input-lg", placeholder: "Username" %></dd>
        <dd><%= f.text_field :first_name, class: "form-control input-lg", placeholder: "First Name" %></dd>
        <dd><%= f.text_field :last_name, class: "form-control input-lg", placeholder: "Last Name" %></dd>
      </dl>

      <dl>
        <dd><%= f.text_field :email, class: "form-control input-lg", placeholder: "Email" %></dd>
      </dl>

      <dl>
        <dd><%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %></dd>
        <dd><%= f.password_field :password_confirmation, class: "form-control input-lg", placeholder: "Confirm Password" %></dd>
      </dl>

      <%= f.submit "Sign up", class: "btn btn-block" %>

    </dl>

  <% end %>

</div>

<%= link_to 'Back', users_path %>
