<p id="notice"><%= notice %></p>

<div class="container">
  <div class="columns">

    <div class="one-fourth column">
      <aside>
        <h1>
          <%= gravatar_for @user %>
          <p><%= @user.username %></p>
        </h1>
      </aside>
    </div>

    <div class="three-fourths column">

      <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </p>

      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Joined:</strong>
        <%= time_ago_in_words(@user.created_at) %>
      </p>


      <%= link_to 'Log out', logout_path, method: :delete %> |
      <%= link_to 'Edit Profile', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>

    </div>
  </div>
</div>
