<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/ie5shim' %>

    <!-- Fonts -->
    <script src="https://use.fontawesome.com/f340752ddd.js"></script>

  </head>

<body>

  <%= render 'layouts/header' %>

  <div class="flash-message">
    <% flash.each do |message_type, message| %>
      <div class="flash flash-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>

   Logged in: <%= logged_in? %> Username:
   <% if logged_in? %>
    <%= current_user.username %>
  <% else %>
    nil
  <% end %>



    <%= yield %>

    <%= debug params  if Rails.env.development? %>
  </div>
</body>

</html>
